input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
	border: 1px solid #444444;
	font-style: italic;
	color:black;

  
}


input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 11px 20px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

#time
{
position:relative;
float:right;
color:#111111;
font-style: italic;
font-size:12px;

}
#name1
{
position:relative;
float:left;
font-size:20px;
font-style: italic;
color: #000000;


}
#msg1
{left:2%;
position:relative;
font-size:20px;
font-style: italic;
/*color: #B6B6B6;*/
color:#666666;

}

#name
{
padding: 30% 8% 2% 15%;

}
#submit
{
padding:2% 8% 10% 15%;
}
#msg
{width:80%;
font-style: italic;
}
#send
{position:fixed;
top:9px;
left:74%;
width:10%;

}
#un
{
background-color:black;
border: 1px solid #222222;
width:400px;
position:absolute;
left:480px;
top:200px;
}
#frm2
{position:fixed;
top:102px;
left:274px;
border: 1px solid #333333;
border-radius: 8px;	
width:685px;
height:80%;
background-color:#efefef;
}
#logbut
{position:fixed;
top:24px;
left:990px;
width:10%;
background-color:#ff3333;
}
#frm3
{position:fixed;
top:194px;
left:983px;
height:418px;
margin-left:.6%;
border: 1px solid #555555;
border-radius: 8px;	
background-color:#efefef;
width:135px;
}
#textonline
{position:relative;
color: #ffffff;
	/*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;*/ 
top:142px;
font-style: italic;
left:994px;
font-size:20px;

}
#frm1
{
position:fixed;
width:835px;
left:265px;
top:16px;
height:100%;
}
#onnames
{
font-style: italic;
font-size:20px;
color:#000000;
}
#putbkimg
{display:block;
    position: absolute;
background-image:url("b3.jpg");
opacity:0.8;

}
#indexbkimg
{display:block;
    position: absolute;
background-image:url("a.jpg");
opacity:0.8;
}